@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

:root {
  /*========== Colors ==========*/
  --header-color: #d9d9d9;
  --screen-background-color: #f8f8f8;
  --dark-grey-color: #333333;
  --white-color: #fff;
  --secondary-color: #243075;
  --text-color: #000;
  --filter-color: #999999;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* GENERAL */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  /* height: auto; */
}

button {
  cursor: pointer;
}

button,
input {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

.flex {
  display: flex;
}

.row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 12px;
}

/* HEADER */
header {
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  padding: 12px;
  flex-direction: column;
  margin: 0 auto;
}

.header__wrapper {
  background-color: var(--header-color);
}

.header--title {
  font-size: 32px;
  margin-bottom: var(--mb-2);
}
.screen__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-2-5);
}
.screen__img--container {
  background-color: var(--filter-color);
  border: var(--dark-grey-color);
  box-shadow: 0 0 0 2.5px #000, 0 0 0 12.5px var(--dark-grey-color),
    0 0 0 15px #000;
  width: 100%;
  aspect-ratio: 10/6;
  border-radius: 2.5px;
}
.screen__img {

}

/* LAPTOPS */
.container {
  padding: var(--mb-1) 0;
}

.laptop__list {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.laptop {
    padding: var(--mb-0-5);
}

.remote{
  display: flex;
  justify-content: center;  
}

.laptop__img--wrapper {
    
}

.remote__img{
  max-height: 170px;
}

.laptop__img{
  width: 100%;
  transition: all 300ms;
}

#laptops h2{
  margin-bottom: var(--mb-1);
}


/* FOOTER */

@media (max-width: 768px) {
  header {
    /* height: 68px; */
    padding-top: var(--mb-0-25);
  }

  .screen__img--container {
    width: 95%;
    /* vervangen door calc */
  }
  .laptop {
    width: calc(100% / 2);
  }
  .row{
    padding: 0 8px;
  }

  
}

@media (min-width: 768px) { 
  .laptop {
    width: calc(100% / 3);
  }
}

@media (min-width: 1000px) { 
  .laptop {
    width: calc(100% / 4);
  }


}
